<html>
      <head>
          <title>WCT20|Records</title>
          <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='self_css.css') }}">
           
      </head>    
      <body><br>
              <h1 align="center" style="font-family:verdana">Enter Details </h1><hr>
               <form method="POST", action="/update">
                  <table border="2" align="center">
				  <br>
				  <br>
                    <tr>
                         <td> <input type="hidden" name="rid" value="{{d.0}}"></td>
                    </tr>
                  
                    <tr>
                         <td align="center" width='150px'bgcolor="lightgray"> Opposition Team:</td>
                         <td><input type="type" name="opposition_team" value="{{d.1}}"></td>
                    </tr> 
                    <tr>
                        <td align="center" bgcolor="lightgray">Runs:</td>
                        <td><input type="number" name="runs" value="{{d.2}}"></td>
                    </tr> 
                     <tr>
                        <td align="center" bgcolor="lightgray">Wickets:</td>
                        <td><input type="number" name="wickets" value="{{d.3}}"></td>
                    </tr>
                    <tr>
                        <td align="center" bgcolor="lightgray">Match Date:</td>
                        <td><input type="date" name="match_date" value="{{d.4}}"></td>
                    </tr>       
                   </table>
				   <br>
                    <tr>
                        <center><td><input type="submit" bgcolor="lightgray"style="font-size:20px" name="send" value="Update"></td></center>
					</tr>
                    <!/table>
                    </form>
              
      </body>
      
</html>